node_modules/
src/
.editorconfig
.env
.eslintignore
.eslintrc.json
.nvmrc
.prettierignore
components.json
cspell.json
next.config.mjs
package.json
pnpm-lock.yaml
postcss.config.js
README.md
tsconfig.json
tsup.config.ts
.idea
.husky/
.storybook/
.vscode/
.github/
*.backup
